[Desktop Entry]
Version=1.0
Name=自然语言终端
Comment=使用自然语言控制你的 Ubuntu
# Exec 需要在 install.sh 中被替换为实际路径
Exec=%EXEC_PATH%
Icon=utilities-terminal # 或者 system-search, accessories-text-editor 等
Terminal=false # 因为 rofi_yai_advanced.sh 会自己启动 rofi 窗口
Type=Application
Categories=Utility;Application;
StartupNotify=true
